@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="img-right">
	<div class="gray-box">
		<aside class="gray-box-top">
		</aside>
		<aside class="gray-box-middle">
			<img src="@Url.Content("~/Content/images/ship-address.png")" class="left">
			<aside class="clear">&nbsp;</aside>
			<section class="signup-box">
				<p>
					<span class="left mart-5">Name </span>
					<input name="" type="text" class="input4">
					<div class="clear">
					</div>
					<div class="error right">
						Enter valid email id</div>
				</p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Street Address </span>
					<input name="" type="text" class="input4"></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">City </span>
					<input name="" type="text" class="input4">
				</p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">State </span>
					<select name="" class="input5">
						<option>Select</option>
					</select></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Zip Code </span>
					<input name="" type="text" class="input4 marr-135" style="width: 90px;"></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Country </span>
					<input name="" type="text" class="input4"></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Phone </span>
					<input name="" type="text" class="input4"></p>
			</section>
			<img src="@Url.Content("~/Content/images/bill-address.png")" class="left mart-10 clear"><p class="left mart-15">
				<input name="" type="checkbox" value="">
				<span class="txt12">Same as above</span></p>
			<aside class="clear">&nbsp;</aside>
			<section class="signup-box">
				<p>
					<span class="left mart-5">Name </span>
					<input name="" type="text" class="input4">
				</p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Street Address </span>
					<input name="" type="text" class="input4"></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">City </span>
					<input name="" type="text" class="input4">
				</p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">State </span>
					<select name="" class="input5">
						<option>Select</option>
					</select></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Zip Code </span>
					<input name="" type="text" class="input4 marr-135" style="width: 90px;"></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Country </span>
					<input name="" type="text" class="input4"></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Phone </span>
					<input name="" type="text" class="input4"></p>
			</section>
			<img src="@Url.Content("~/Content/images/pay-info.png")" class="left mart-10 clear">
			<aside class="clear">&nbsp;</aside>
			<section class="signup-box">
					<p>
						<span class="left ">Name on the
							<br>
							Credit Card </span>
						<input name="" type="text" class="input4">
					</p>
<div class="clear">
</div>
					<p class="mart-5">
						<span class="left mart-5">Card Number </span>
						<input name="" type="text" class="input4">
						<em class="txt11 right marr-15">Please enter 16 digit number printed on card</em>
					</p>
					<div class="clear">
					</div>
					</p>
					<div class="clear">
					</div>
					<p class="mart-5">
						<span class="left mart-5">Expire Date </span>
						<section class="width235 right txt12 " style="width: 233px;">
							<select name="" class="input5  left" style="width: 98px; float: left">
								<option>Month</option>
							</select>
							<select name="" class="input5  left" style="width: 98px; float: left; margin-left: 10px;">
								<option>Year</option>
							</select>
						</section>
					</p>
					<div class="clear">
					</div>
					<p class="mart-5">
						<span class="left mart-5">Zip Code </span>
						<input name="" type="text" class="input4 marr-135" style="width: 90px;"></p>
				  <div class="clear">
				  </div>
					
					<p class="mart-5">
						<span class="left mart-5">Security Code </span>
						<input name="" type="text" class="input4"></p>
					<div class="clear">
					</div>
					<aside class="width235 right txt12 ">
						<div class="clear">
							&nbsp;</div>
						<span class="mart-10 left">
							<input type="image" src="@Url.Content("~/Content/images/place-order.png")"></span>
					</aside>
			  </section>
		</aside>
		<aside class="gray-box-bottom">
		</aside>
	</div>
	<div class="clear">
	</div>
</div>
