@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="img-right">
    <div class="gray-box">
        <aside class="gray-box-top">
        </aside>
        <aside class="gray-box-middle">
            <form id="form" action="@Url.Action("CreateUser")" method="post">
            <img alt="" src="@Url.Content("~/Content/images/gen-info.png")" class="left" />
            <aside class="clear">&nbsp;</aside>
            <section class="signup-box">
                <p>
                    <span class="left mart-5">Name </span>
                    <input required name="name" type="text" class="input4" />
                </p>
                <div class="clear">
                </div>
                <p class="mart-5">
                    <span class="left mart-5">Street Address </span>
                    <input name="street" type="text" class="input4" /></p>
                <div class="clear">
                </div>
                <p class="mart-5">
                    <span class="left mart-5">City </span>
                    <input name="city" type="text" class="input4" />
                </p>
                <div class="clear">
                </div>
                <p class="mart-5">
                    <span class="left mart-5">State </span>
                    <input name="state" type="text" class="input4" />
                    <div class="clear">
                    </div>
                    <p class="mart-5">
                        <span class="left mart-5">Zip Code </span>
                        <input name="zip" type="text" class="input4 marr-135" style="width: 90px;" />
                    </p>
                </p>
                <div class="clear">
                </div>
                <p class="mart-5">
                    <span class="left mart-5">Country </span>
                    <input name="country" type="text" class="input4" />
                </p>
            </section>
            <img alt="" src="@Url.Content("~/Content/images/user-acc-info.png")" class="left mart-10" />
            <aside class="clear">&nbsp;</aside>
            <section class="signup-box" style="border: none;">
                <p>
                    <span class="left mart-5">Email </span>
                    <input required name="email" type="email" class="input4" />
                </p>
                <div class="clear">
                </div>
                <p class="mart-5">
                    <span class="left mart-5">Password </span>
                    <input required name="password" type="password" class="input4" /></p>
                <div class="clear">
                </div>
                <p class="mart-5">
                    <span class="left mart-5">Retype Password </span>
                    <input required name="repassword" type="password" class="input4" />
                </p>
                <div class="clear">
                </div>
                <p class="mart-5">
                    <span class="left mart-5">Secret question </span>
                    <input name="question" type="text" class="input4" />
                </p>
                <div class="clear">
                </div>
                <p class="mart-5">
                    <span class="left mart-5">Answer </span>
                    <input name="answer" type="text" class="input4" /></p>
                <div class="clear">
                </div>
                <p class="mart-5">
                    <span class="left mart-5">Birth </span>
                    <input name="birth" type="date" class="input4" /></p>
                <div class="clear">
                </div>
                <aside class="width235 right txt12 ">
                    <span class="mart-10 left">
                        <input type="image" src="@Url.Content("~/Content/images/continue.png")" /></span>
                </aside>
            </section>
            </form>
        </aside>
        <aside class="gray-box-bottom">
        </aside>
    </div>
    <div class="clear">
    </div>
</div>
