@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="img-right">
	<div class="gray-box">
		<aside class="gray-box-top">
		</aside>
		<aside class="gray-box-middle">
			<img src="@Url.Content("~/Content/images/gen-info.png")" class="left">
			<aside class="clear">&nbsp;</aside>
			<section class="signup-box">
				<p>
					<span class="left mart-5">Name </span>
					<input name="" type="text" class="input4">
					<div class="clear">
					</div>
					<div class="error right">
						Enter valid email id</div>
				</p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Street Address </span>
					<input name="" type="text" class="input4"></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">City </span>
					<input name="" type="text" class="input4">
				</p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">State </span>
					<select name="" class="input5">
						<option>Select</option>
					</select></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Zip Code </span>
					<input name="" type="text" class="input4 marr-135" style="width: 90px;"></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Country </span>
					<select name="" class="input5">
						<option>Select</option>
					</select></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Phone </span>
					<input name="" type="text" class="input4"></p>
			</section>
			<img src="@Url.Content("~/Content/images/user-acc-info.png")" class="left mart-10">
			<aside class="clear">&nbsp;</aside>
			<section class="signup-box" style="border: none;">
				<p>
					<span class="left mart-5">Email </span>
					<input name="" type="text" class="input4">
				</p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Password </span>
					<input name="" type="text" class="input4"></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Retype Password </span>
					<input name="" type="text" class="input4">
				</p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Secret question </span>
					<select name="" class="input5">
						<option>Select</option>
					</select></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Answer </span>
					<input name="" type="text" class="input4"></p>
				<div class="clear">
				</div>
				<p class="mart-5">
					<span class="left mart-5">Birth </span>
					<input name="" type="text" class="input4"></p>
				<div class="clear">
				</div>
				<aside class="width235 right txt12 ">
					<div class="clear">
						&nbsp;</div>
					<span class="mart-10 left">
						<input name="" type="checkbox" value="">
						Remember my password</span>
					<div class="clear">
						&nbsp;</div>
					<span class="mart-10 left">
						<input type="image" src="@Url.Content("~/Content/images/continue.png")"></span>
				</aside>
			</section>
		</aside>
		<aside class="gray-box-bottom">
		</aside>
	</div>
	<div class="clear">
	</div>
</div>
